// VARIABLES

$FONT: "Roboto", sans-serif;
$OPERATOR: #11d7fa;
$BLACK: #1f1f1f;
$MIDGREY: #c1c1c2;
$LIGHTGREY: #d6d5da;

// RESETS
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: all 100ms ease;
}

html {
  background: white;
  font-size: 10px;
  font-family: $FONT;
}

h1 {
  margin-top: 5rem;
  font-size: 5rem;
}

#calculator {
  margin: 0 auto;
  margin-top: 3rem;
  width: 325px;
  font-size: 2rem;
  border: 1px solid $BLACK;
  border-radius: 1rem;
  padding: 0.5rem;
  background: $BLACK;

  .btn-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(7.5rem, 1fr);
    grid-gap: 0.3rem;
  }

  button {
    border: 0.1px solid $BLACK;
    border-radius: 2px;
    font-size: 2.5rem;
    outline: none;

    &:active {
      transform: scale(0.95);
    }
  }

  .operator {
    background: $OPERATOR;
    font-weight: bold;
    font-size: 2.1rem;
    cursor: pointer;

    &:hover {
      background: darken($OPERATOR, 10%);
    }
  }

  .number {
    background: $LIGHTGREY;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: darken($LIGHTGREY, 10%);
    }
  }

  #display {
    width: 100%;
    min-height: 7rem;
    background: $BLACK;
    color: $LIGHTGREY;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

    p {
      text-align: right;
    }

    #equation {
      min-height: 1.8rem;
      font-size: 1.5rem;
      color: $LIGHTGREY;
    }

    #current {
      font-size: 4rem;
      margin-top: 0.5rem;
      color: white;
    }
  }

  #clear {
    grid-column: span 2;
    background: $MIDGREY;
    cursor: pointer;

    &:hover {
      background: darken($MIDGREY, 10%);
    }
  }

  #zero {
    grid-column: span 2;
  }
}
