* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}

html {
  background: white;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-top: 5rem;
  font-size: 5rem;
}

#calculator {
  margin: 0 auto;
  margin-top: 3rem;
  width: 325px;
  font-size: 2rem;
  border: 1px solid #1f1f1f;
  border-radius: 1rem;
  padding: 0.5rem;
  background: #1f1f1f;
}
#calculator .btn-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(7.5rem, 1fr);
  grid-gap: 0.3rem;
}
#calculator button {
  border: 0.1px solid #1f1f1f;
  border-radius: 2px;
  font-size: 2.5rem;
  outline: none;
}
#calculator button:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
#calculator .operator {
  background: #11d7fa;
  font-weight: bold;
  font-size: 2.1rem;
  cursor: pointer;
}
#calculator .operator:hover {
  background: #04b4d4;
}
#calculator .number {
  background: #d6d5da;
  font-weight: bold;
  cursor: pointer;
}
#calculator .number:hover {
  background: #bcbac2;
}
#calculator #display {
  width: 100%;
  min-height: 7rem;
  background: #1f1f1f;
  color: #d6d5da;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
#calculator #display p {
  text-align: right;
}
#calculator #display #equation {
  min-height: 1.8rem;
  font-size: 1.5rem;
  color: #d6d5da;
}
#calculator #display #current {
  font-size: 4rem;
  margin-top: 0.5rem;
  color: white;
}
#calculator #clear {
  grid-column: span 2;
  background: #c1c1c2;
  cursor: pointer;
}
#calculator #clear:hover {
  background: #a7a7a9;
}
#calculator #zero {
  grid-column: span 2;
}